.custom-container {
    max-width: 1328px;
}

.custom-image {
    width: 100%;
    max-height: 35em;
    object-fit: cover;
    box-shadow: 4px 4px 4px 16px rgba(0, 0, 0, 0.45);
}

.custom-title {
    font-family: 'Rowdies', cursive;
}

.custom-content {
    font-family: 'Rowdies', cursive;
    color: #626262;
}

@media (min-width: 768px) {
    .custom-container {
        display: flex;
        flex-wrap: wrap;
    }

    .content-column {
        width: 75%;
        padding-right: 20px;
    }

    .image-column {
        width: 25%;
    }
}