.contact {
   border-radius: 22px;
   background: rgba(217, 217, 217, 0.50);
   width: 1328px;
   height: auto;
   flex-shrink: 0;
   margin: auto;
   margin-top: 10px;
   padding: 20px;
   font-size: 15px;
}

#heading {
   text-align: left;
   font-family: 'Inspiration', cursive;
   font-family: 'Noto Serif Balinese', serif;
}

.parent {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: none;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   margin-top: 10px;
}

.div1 {
   grid-area: 1 / 1 / 2 / 2;
   align-items: center;
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 2;
}

.div1::before {
   content: "";
   position: absolute;
   width: 180px;
   height: 220px;
   background-color: #FF5733;
   border-radius: 50% 50% 40% 40%;
   /* Adjust the values to achieve the jelly-like shape */
   animation: bounce 3s infinite alternate;
}

.div1 img {
   width: 201px;
   height: 300px;
   z-index: 3;
}

@keyframes bounce {
   from {
      transform: translateX(-40px);

   }

   to {
      transform: translateX(40px);
   }
}

.div2 {
   grid-area: 1 / 2 / 2 / 3;
   background-color: #d9ebf9;
   padding: 20px;
   height: auto;
   border-radius: 10px;
}

table>input {
   border: 2px solid #FF5733;
}

#name,
#message,
#email {
   font-size: 15px;
   border-radius: 5px;
}

button {
   background-color: #FF5733;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #FF774D;
   transform: scale(1.1);
}

td {
   padding-top: 15px;
   padding-bottom: 15px;
}

#slideshow-container {
   max-width: 800px;
   position: relative;
   margin: auto;
}

.slide {
   display: none;
   position: absolute;
   width: 100%;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
}

.slide img {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   border-radius: 8px;
}

.slide-title {
   font-size: 24px;
   font-weight: bold;
   margin-top: 10px;
}

.slide-description {
   font-size: 16px;
   color: #555;
}

.prev,
.next {
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
   background-color: #2196F3;
   border-radius: 5px;
   user-select: none;
}

.next {
   right: 0;
   background-color: #f44336;
}

.prev:hover,
.next:hover {
   background-color: #0b7dda;
}