footer {
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

footer h1 {
    color: #FFF;
    text-align: center;
    font-family: Rowdies;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

footer a {
    color: #A04D4D;
}