.home {
    font-family: 'Rowdies' !important;
    font-weight: 400;
    color: white;
    line-height: normal;
}

.title a {
    /* text-decoration: none; */
    color: #000;
}

.title_sec {
    color: #FFF;
    text-align: center;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Rowdies;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.57px;
}

.gen_link_btn {
    border: 2px solid #000 !important;
    background: #FFF614 !important;
    font-size: 39px;
}