.logo {
    width: 10em;
}

.home {
    font-family: 'Rowdies' !important;
    font-weight: 400;
    color: white;
    line-height: normal;
}

.title a {
    /* text-decoration: none; */
    color: #000;
}

.title_sec {
    color: #FFF;
    text-align: center;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Rowdies;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.57px;
}

.gen_link_btn {
    border: 2px solid #000 !important;
    background: #FFF614 !important;
    font-size: 39px;
}

#scrollTopBtn {
    opacity: 0;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.5s ease;
    /* Added transition for opacity */
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

#scrollTopBtn.visible {
    opacity: 1;
    display: block;
}